@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

$main-font-color: black;
$divider-height: 3px;
$color-grey: #e9ecef;
$color-grey-dark: #adb5bd;

body{
    font-family: 'Poppins', sans-serif;
    color: $main-font-color;
    a{
        color: $main-font-color;
    }
}

 .main-box{
     display: flex;
     flex-direction: column;
     nav{
         display: flex;
         flex-direction: row;
         padding: 10px;
         border-bottom: $color-grey solid $divider-height;
         align-items: center;
         .logo{
             flex-grow: 1;
         }
         // styl dla właściwego navbar
         .menu {
            display: flex;
            flex-grow: 4;
            ul,li{
                display: flex;
                flex-grow: 10;
            }
            li{
                align-items: center;
                a{
                    padding: 10px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    &:hover{
                        text-decoration: underline;
                        background: none;
                    }
                }
                .active{
                    background: $color-grey;
                    border-radius: 5px;
                }
            }
         }
         // styl dla inputu wyszukiwania
         .search{
             flex-grow: 4;
             position: relative;
             input{
                 width: 100%;
                 border: none;
                 outline: none;
             }
             &::after{
                content: ' ';
                position: absolute;
                width: 100%;
                border-bottom: black $divider-height solid;
                bottom: -40px;
             }
         }
         // styl dla ikonek konta i koszyka
         .details{
             flex-grow: 1;
             display: flex;

             .detail-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                font-weight: 700;
                &:nth-child(even){
                    background-color: $color-grey;
                    border-radius: 10px;
                    margin-right: 40px;
                    width: 62px;
                    height: 62px;
                    img{
                        width: 32px;
                        height: 32px;
                    }
                    transition: 1.2s background;
                    &:hover{
                        background: $color-grey-dark;
                        cursor: pointer;
                    }
                }
             }
         }
     }
     .content-box{
        // tymczasowo
        img{
            width: 256px;
            height: 360px;
        }
         display: flex;
         flex-direction: column;
         align-items: center;
         .nav-path{
            width: 60%;
            padding: 30px;
        }
        
        .content{
            display: flex;
            flex-direction: row;
            width: 60%;

            .nav-category{
                background-color: $color-grey;
                padding: 35px;
                height: 650px;
                ul,li{
                    list-style: none;
                }
                li{
                    padding: 10px;
                    &:hover{
                        list-style-image: url('../img/arrow.png');
                    }
                }

                .active{
                    list-style-image: url('../img/arrow.png');
                }

                a{
                    text-decoration: none;
                }
            }

            .articles-view{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .title{
                    padding: 10px;
                }

                .price{
                    padding: 10px;
                    font-weight: 700;
                }
            }

            .nav-steps{
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                padding: 50px;

                button{
                    border: none;
                    text-align: center;
                    padding: 15px;
                    width: 160px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                    &:nth-child(even)
                    {
                        margin-left: 25px;
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
     }
 }

 footer{
    display: flex;
    background: $color-grey;
    padding: 40px;
    justify-content: space-evenly;

    .content{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .logo{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        img{
            height: 63px;
            width: 146px;
        }
    }

    .menu{
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul,li{
            list-style: none;
            padding: 8px;
            a{
                display: flex;
                align-items: center;
            }
        }
        .socials{
            width: 100px;
            display: flex;
            justify-content: space-between;
            img{
                filter: brightness(0%);
                transition: filter 1.2s;
                &:hover{
                    filter: brightness(100%);
                }
            }
        }
    }
    .newsletter{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span{
            padding: 20px;
            font-weight: 600;
            font-size: 1.2rem;
        }
        form{
            display: flex;
            padding: 10px;
            button{
                margin-left: 15px;
                border: none;
                text-align: center;
                padding: 15px;
                width: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: rgb(48, 48, 48);
                color: white;
                transition: background 1.2s;
                &:hover{
                    background: rgb(78, 78, 78);
                    color: white;
                    cursor: pointer;
                }
            }
            input{
                width: 340px;
                border-radius: 5px;
                outline: none;
                padding: 5px;
                padding-left: 30px;
            }
        }
    }
}